@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e6e8ea;
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-primary-container: #131b2e;
  --color-on-primary-container: #7c839b;
  --color-secondary: #515f74;
  --color-on-secondary-container: #57657b;
  --color-tertiary: #000000;
  --color-tertiary-fixed: #89f5e7;
  --color-tertiary-container: #00201d;
  --color-on-tertiary-container: #0c9488;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-outline-variant: #c6c6cd;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body antialiased;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');
